.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.footer-link {
  display: contents;
}
.footer-image {
  height: 5rem;
  object-fit: cover;
  text-decoration: none;
}
.footer-link1 {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link1:hover {
  transform: scale(1.02);
}
@media(max-width: 991px) {
  .footer-image {
    height: 4.5rem;
  }
}
@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    justify-content: center;
  }
  .footer-image {
    height: 4rem;
  }
  .footer-link1 {
    margin: var(--dl-space-space-unit);
    display: none;
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .footer-image {
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-link1 {
    display: none;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
}
