<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer class="footer-footer">
    <a
      href="https://proofbase.harmony6.xyz"
      target="_blank"
      rel="noreferrer noopener"
      class="footer-link"
    >
      <img
        alt="logo"
        src="public/playground_assets/image_2022-10-26_161038547-1500h.png"
        class="footer-image"
      />
    </a>
    <a href="https://harmony6.xyz" class="footer-link1 button">
      <span>Visit Homepage</span>
    </a>
  </footer>
</div>
